.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 5px;
}

.header-logo {
  width: 100px;
  height: 60px;
}

.header-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.button {
  background-color: aqua;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
}
